@charset "UTF-8";

/* B-mobile Device */
.mobile-device {

}
.mobile-device header {
	text-align: center;
}
.mobile-device header .logo {
	padding: 10px 0
}
.mobile-device header .logo img {
	width: 35%;
}
.mobile-device .nav {
	display: flex;
}
.mobile-device .item {
	text-align: center;
	width: 25%;
	flex-wrap: nowrap;
	box-sizing: border-box;
  	border-top: 1px solid #ededed;
  	border-bottom: 1px solid #ededed;
  	border-right: 1px solid #ededed;
  	padding: 7px 0
}
.mobile-device .item a {
	line-height: 1.2
}
.mobile-device .item:last-child {
	border-right: none
}
.mobile-device .list-map {
	display: flex;
	flex-direction: column;
	padding-top: 14px
}
.mobile-device .list-map li {
	background: #fff;
	padding: 7px 12px 7px;
	display: flex;
	margin-bottom: 8px;
	align-items: center;
}
.mobile-device .list-map li .img {
	border-radius: 50%;
	width: 14vw;
	height: 14vw;
	flex-grow: 2;
}
.mobile-device .list-map li .img img {
	border-radius: 50%;
	width: 14vw;
	height: 14vw;
}
.mobile-device .list-map li .info {
	flex-grow: 6;
	color: #f5ae3b;
	padding-left: 1vw
}
.mobile-device .list-map li .distance {
	color: #f5ae3b;
	font-size: 6vw;
	flex-grow: 2;
	text-align: right;
}

.wrap-search {

}
.wrap-search .item-search {
	font-size: 5vw;
	color: #7f7f7f
}
.wrap-input-search {
	display: flex;
	background: #fff;
	align-items: center;
}
.wrap-input-search .input-search {
	width: 90%;
	height: 45px;
	font-size: 5.5vw;
	text-indent: 10px;
}
.wrap-input-search .bt-search {
	width: 10%;
	text-align: center;
}
.wrap-input-search .bt-search button {
	background-image: url('../images/icons/ac-search.svg');
	background-size: 100% 7vw;
	background-repeat: no-repeat;
	height: 7vw;
	width: 7vw;
	border: none;
	background-color: #fff !important;
}
/* E-mobile Device */



/* B-Common */
.beatcrum {
	background: #f5ae3b;
	color: #fff;
	padding: 5px 12px
}
.nav .item {

}
.nav .item a .icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 6.5vw;
	height: 6.5vw;
	display: inline-block;
}
.nav .item .text {
	display: block;
	text-align: center;
}
.nav .item a {
	text-decoration: none;
	color: #7f7f7f
}
.nav .item a:hover, .nav .item .active {
	color: #f5ae3b
}

.point .icon {
	background-image: url('../images/icons/point.svg');
}
.point .active .icon, .point a:hover .icon {
	background-image: url('../images/icons/ac-point.svg');
}
.search .icon {
	background-image: url('../images/icons/search.svg');
}
.search .active .icon, .search a:hover .icon {
	background-image: url('../images/icons/ac-search.svg');
}
.qcode .icon {
	background-image: url('../images/icons/qcode.svg');
}
.qcode .active .icon, .qcode a:hover .icon {
	background-image: url('../images/icons/ac-qcode.svg');
}
.setting .icon {
	background-image: url('../images/icons/setting.svg');
}
.setting .active .icon, .setting a:hover .icon {
	background-image: url('../images/icons/ac-setting.svg');
}

.tag {

}
.tag a {
	border-radius: 20px;
	color: #fff;
	font-size: 4vw;
	padding: 3px 15px 5px;
}

.read-more {
	text-align: center;
	padding: 20px 0
}
.read-more a {
	display: inline-block;
	color: #f5ae3b;
}
.read-more a:after {
	content: "\f107";
	font-family:'FontAwesome';
	display: block;
}

.wrap-map {
  position: relative;
}
.map-canvas {
  width: 100%;
  min-height: 300px;
}


::-webkit-input-placeholder {
  color: #cbcbcb;
}
::-moz-placeholder {
  color: #cbcbcb;
}
:-ms-input-placeholder {
  color: #cbcbcb;
}
:-moz-placeholder {
  color: #cbcbcb;
}
/* E-Common*/
footer {
	text-align: center;
	color: #f5ae3b;
	padding: 20px 0
}
footer .logo {
}
footer .logo img {
	width: 35%;
}